/* Base Elements */
:root {
  color-scheme: light;
  /* breeze colors (KDE) */
  --background-window:  #eff0f1;
  --background-header:  #dee0e2;
  --background-content: #ffffff;
  --background-button:  #fcfcfc;
  --background-accent:  #d6ecf8;

  --border-normal:      #bcbebf;
  --border-dark:        #5a5c5d;
  --border-accent:      #3daee9;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 10pt;
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  user-select: none;
  background: var(--background-window);
}

button {
  background: var(--background-button);
  border: 1px var(--border-normal) solid;
  border-radius: 4px;
  box-shadow: 0px 1px var(--border-normal);
  padding: 6px;
}

button:hover {
  border: 1px var(--border-accent) solid;
}

button:active {
  background: var(--background-accent);
  border: 1px var(--border-accent) solid;
  box-shadow: none;
}

button:focus {
  border: 1px var(--border-accent) solid;
  outline: none;
}

button:disabled,
button[disabled]{
  pointer-events: none;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

input[type=text], select {
  background: var(--background-content);
  border: 1px var(--border-normal) solid;
  border-radius: 4px;
  padding: 6px;
}

input[type=text]:hover, select:hover {
  border: 1px var(--border-accent) solid;
}

input[type=text]:focus, select:focus {
  border: 1px var(--border-accent) solid;
  outline: none;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  background: var(--background-content);
  border: 1px var(--border-normal) solid;
  border-radius: 4px;
  padding: 6px;
}

input[type=checkbox]:hover {
  border: 1px var(--border-accent) solid;
}

input[type=checkbox]:focus {
  border: 1px var(--border-accent) solid;
  outline: none;
}

/* Layout */
#window {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    'header   header  header'
    'sidebar  content meta'
    'sidebar  footer  footer';

  gap: 1px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

#header {
  grid-area: header;
  background: var(--background-header);
  border-bottom: 1px var(--border-normal) solid;
  padding: 5px;
}

#sidebar {
  grid-area: sidebar;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 550px;
  padding: 5px;
}

#content {
  grid-area: content;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--background-content);
  border: 1px var(--border-normal) solid;
  border-radius: 5px;
  padding: 5px;
}

#meta {
  grid-area: meta;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

#footer {
  grid-area: footer;
  padding: 5px;
}

/* Sidebar */
#folder {
  margin: 2px;
  padding: 3px 6px;
  text-overflow: ellipsis;
  border: 1px var(--background-window) solid;
  border-radius: 4px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'title count';
  white-space: nowrap;
}

#folder:hover {
  background: var(--background-accent);
}

#folder.active {
  background: var(--background-accent);
  border: 1px var(--border-accent) solid;
}

#folder.drag {
  background: var(--border-accent);
  border: 1px var(--border-accent) solid;
}

#folder-input {
  width: calc(100% - 4px);
  margin: 2px;
  box-sizing: border-box;

  border-radius: 4px;
  padding: 6px;

  background: var(--background-normal);
  border: 1px var(--border-normal) dashed;
  color: var(--border-dark);
  text-align: center;
}

#folder-input.active {
  background: var(--background-content);
  border: 1px var(--border-accent) dashed;
  color: inherit;
}

#folder-title {
  grid-area: title;
  font-size: small;
  pointer-events: none;
}

#folder-count {
  grid-area: count;
  font-size: small;
  text-align: right;
  color: #555;
  padding-left: 4px;
  margin-left: 4px;
  pointer-events: none;
}

/* Content */
#content {
  padding: 5px;
}

#content #help {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
  font-size: 24pt;
  color: var(--border-dark);
}

#content #help #text {
  font-size: 12pt;
  max-width: fit-content;
  text-align: justify;
}

#content #card {
  display: inline-block;
  margin: 4px;
  padding: 6px;
  overflow: hidden;
  width: 128px;
  border: 1px rgba(0,0,0,0) solid;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

#content #card:hover > #card-title {
}

#content #card:hover {
  background-color: var(--background-window);
}

#content #card.new {
  background: var(--background-window);
  border: 1px var(--border-normal) solid;
}

#content #card.selection {
  background: var(--background-accent);
  border: 1px var(--border-accent) solid;
}

#content #card.selection:hover {
  background: var(--background-accent);
  border: 1px var(--border-accent) solid;
}

#content #card img {
  width: 128px;
  height: 176px;
  border-radius: 5px;
  pointer-events: none;
}

#content #card #card-pricetag {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  text-align: right;
  font-size: small;
  padding: 5px 10px;
  right: 5px;
  top: 25px;
  pointer-events: none;
}

#content #card #card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-size: 10pt;
  font-weight: 200;
  width: 100%;
  pointer-events: none;
}

/* Preview */
#preview {
  display: none;
  grid-template-areas:
    'preview-image   preview-image    '
    'edition-label   edition-input    '
    'number-label    number-input     '
    'language-label  language-input   '
    'foil-label      foil-input       '
    'button          button           '
    'metadata        metadata         '
    'cardmarket      cardmarket       '
    'cardkingdom     cardkingdom      '
    'spacer          spacer           '
    'buttons         buttons         '
    ;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto 1fr auto;
  min-height: 100%;
  max-width: min-content;
  align-items: center;
  gap: 2px;
}

#preview-imagebox { grid-area: preview-image; }
#preview-edition-label { grid-area: edition-label; }
#preview-edition-input { grid-area: edition-input; }
#preview-number-label { grid-area: number-label; }
#preview-number-input { grid-area: number-input; }
#preview-language-label { grid-area: language-label; }
#preview-language-input { grid-area: language-input; }
#preview-foil-label { grid-area: foil-label; }
#preview-foil-input { grid-area: foil-input; }
#preview-metadata { grid-area: metadata; }
#preview-button { grid-area: button; }
#preview-cardmarket { grid-area: cardmarket; }
#preview-cardkingdom { grid-area: cardkingdom; }
#preview-spacer { grid-area: spacer; min-height: 0px; }
#preview-buttons { grid-area: buttons; }

#preview input[type=text], #preview select {
  width: 180px;
  box-sizing: border-box;
}

#preview-image { width: 252px; height: 352px; }
#preview-add-card { width: 100%; box-sizing: border-box; }
#preview-edition { float: right; text-transform: uppercase; text-align: right; }
#preview-edition::placeholder { text-transform: none; }
#preview-number { float: right; text-align: right; }
#preview-language { float: right; text-align: right; }
#preview-foil { float: right; }
#preview-metadata {
  overflow: auto;
  border: 1px var(--border-normal) solid;
  background: var(--background-content);
  padding: 4px;
  line-height: 20px;
}

#preview-metadata-mana {
  float: right;
}

#preview-metadata img {
  height: 16px;
  vertical-align: middle;
  margin: 0px 1px;
}

#preview-metadata #quote {
  font-style: italic;
  color: var(--border-normal);

  border-top: 1px var(--border-normal) solid;
  padding: 2px 0px;
  margin: 4px 0px;
}

#preview-metadata #type {
  border-bottom: 1px var(--border-normal) solid;
  padding: 2px 0px;
  margin: 4px 0px;
}

#preview-metadata div.vspacer {
  height: 8px;
}

#preview-cardmarket, #preview-cardkingdom {
  overflow: auto;
  border: 1px var(--border-normal) solid;
  padding: 4px;
  line-height: 20px;
}

#preview-cardmarket #right, #preview-cardkingdom #right {
  float: right;
  line-height: 20px;
}

#preview-buttons button {
  width: 100%;
  box-sizing: border-box;
}
