/* Core Elements and Style
    This includes the theme of core elements like
    buttons, input fields, scroll bars and root window.
*/
html, body {
  font-family: system-ui, sans-serif;
  font-size: 10pt;

  margin: 0px;
  height: 100%;

  user-select: none;
  color: var(--font-normal);
  background-color: var(--window-light);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--font-dark);
}

input[type=text]::placeholder, input[type=text]:disabled::placeholder {
  color: var(--font-dark);
}

input[type=text] {
  background: var(--widget-normal);
  border: 1px var(--border-normal) solid;
  padding: 6px;
}

input[type=text]:focus {
  border: 1px var(--color-notify) solid;
  outline: none;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  background: var(--widget-normal);
  border: 1px var(--border-normal) solid;
  padding: 6px;
}

input[type=checkbox]:hover {
  background: var(--widget-light);
}

input[type=checkbox]:focus {
  border: 1px var(--color-accent) solid;
  outline: none;
}

select {
  background: var(--widget-light);
  border: 1px var(--border-normal) solid;
  padding: 6px;
}

select:hover {
  background: var(--widget-normal);
}

select:active {
  background: var(--widget-dark);
}

select:focus {
  outline: none;
}

input[type=text]:disabled {
  pointer-events: none;
  background: var(--widget-dark);
  border: 1px var(--border-light) solid;
  filter: grayscale(75%);
  color: var(--font-dark);
}

hr {
  height: 1px;
  background-color: var(--border-light);
  border: none;
  margin: 5px;
}

/* Dropdown Menus */
m-menu div.menu-segment-title {
  padding: 4px;
  color: var(--font-dark);
}

m-menu div.menu-multi-label {
  text-align: left;
  white-space: nowrap;
  font-weight: bold;
  padding: 4px;
  margin: 4px;
}

m-menu div.menu-multi-entry {
  margin: 1px;
}

m-menu m-button svg {
  height: 14px;
  aspect-ratio: 1/1;
}

m-menu m-button {
  margin: 1px;
  white-space: nowrap;
  min-width: 100%;
}

m-menu hr {
  height: 0px;
  background-color: var(--border-light);
  border: none;
  margin: 5px;
}

/* Popups (OSD Notify) */
#popups {
  display: block;
  width: 250px;
  max-width: 250px;
  position: fixed;
  bottom: 0px;
  right: 7px;
  z-index: 32;
}

#popups:hover > #popup-box {
  background-color: rgba(0,0,0,.2);
  border: 1px rgba(0,0,0,0) solid;
}

#popups #popup-box {
  color: #fff;
  background-color: rgba(0,0,0,.75);
  border: 1px rgba(0,0,0,1) solid;
  box-shadow: 0px 0px 5px var(--border-dark);
  padding: 10px;
  margin-top: 2px;
  overflow: hidden;

  width: 100%;
  max-width: 100%;

  box-sizing: border-box;
}

#popups #popup-title {
  font-weight: bold;
}

#popups #popup-subtext {
  font-size: small;
}

#popups #popup-progress {
  width: 100%;
  height: 10px;
}


/* Page Layout (Root Window) */
#window {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    'header   header  header   '
    'sidebar  content cardview '
    'sidebar  footer  cardview '
  ;

  gap: 0px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;

  border: 1px var(--border-dark) solid;
  background: var(--window-light);
  box-sizing: border-box;
}


/* Header (Tool Bar) */
#header {
  grid-area: header;
  background: var(--window-normal);
  padding: 6px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  gap: 24px;
  border-bottom: 1px var(--border-dark) solid;

  height: 36px;
  -webkit-app-region: drag;
}

#header * {
  -webkit-app-region: no-drag;
}

#header #card-search {
  box-sizing: border-box;
  width: 100%;
}

#header div, #header input {
  height: 34px;
}

#header m-button {
  height: 100%;
  aspect-ratio: 1/1;
}

#header #button-color-w.checked { background: #f8f6d8; }
#header #button-color-u.checked { background: #c1d7e9; }
#header #button-color-b.checked { background: #bab1ab; }
#header #button-color-r.checked { background: #e49977; }
#header #button-color-g.checked { background: #a3c095; }
#header #button-color-c.checked { background: #ccc2c0; }
#header #button-color-m.checked { background: #CFAC5E; }
#header .mana.checked svg path { fill: #000 !important; }

#header #window-buttons {
  grid-template-columns: auto auto auto;
  display: grid;
  justify-items: center;
  align-items: center;
}

#header #window-buttons m-button {
  height: 26px !important;
  width: 26px !important;

  display: grid;
  justify-items: center;
  align-items: center;
  margin: auto 4px;
}

/* Side Bar (Folder View) */
#sidebar {
  grid-area: sidebar;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 550px;
  padding: 5px;
}

#sidebar #folder {
  margin: 1px;
  padding: 4px 6px;
  text-overflow: ellipsis;
  border: 1px var(--window-light) solid;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'title count';
  align-items: center;
  white-space: nowrap;
  height: 20px;
}

#sidebar #folder:hover {
  background: var(--color-hover);
  border: 1px var(--color-hover) solid;
}

#sidebar #folder.active {
  background: var(--color-select);
  border: 1px var(--color-select) solid;
}

#sidebar #folder.drag {
  background: var(--color-hover);
  border: 1px var(--color-accent) solid;
}

#sidebar #folder-caption {
  grid-area: title;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'icon label';
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#sidebar #folder-icon {
  height: 16px;
  aspect-ratio: 1/1;
  margin-right: 4px;
  grid-area: icon;
}

#sidebar #folder-label {
  text-align: left;
  grid-area: label;
}

#sidebar #folder-count {
  grid-area: count;
  font-size: small;
  text-align: right;
  color: var(--font-dark);
  padding-left: 4px;
  margin-left: 4px;
  pointer-events: none;
}

#sidebar #folder-input {
  width: 100%;
  box-sizing: border-box;

  margin: 1px;
  padding: 6px 10px;
  cursor: default;

  background: rgba(0,0,0,0);
  border: none;
  border: 1px rgba(0,0,0,0) solid;
  color: var(--font-normal);
  text-align: left;
}

#sidebar #folder-input:hover {
  background: var(--color-hover);
  border: 1px var(--color-hover) solid;
}

#sidebar #folder-input.active {
  background: var(--widget-normal);
  border: 1px var(--color-notify) solid;
  cursor: text;
  outline: none;
  color: var(--font-normal);
}

/* Content (Card Browser) */
#content {
  grid-area: content;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--window-dark);
  padding: 5px;

  border-left: 1px var(--border-normal) solid;
  border-right: 1px var(--border-normal) solid;
  border-bottom: 1px var(--border-normal) solid;
}

#content #help {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
  font-size: 24pt;
  color: var(--font-dark);
}

#content #help #text {
  font-size: 12pt;
  max-width: fit-content;
  text-align: justify;
}

/* Card View (Preview Panel) */
#cardview {
  grid-area: cardview;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

#cardview #preview {
  display: none;
  grid-template-areas:
    'preview-image   preview-image  '
    'edition-label   edition-input  '
    'number-label    number-input   '
    'language-label  language-input '
    'foil-label      foil-input     '
    'button          button         '
    'metadata        metadata       '
    'cardmarket      cardmarket     '
    'cardkingdom     cardkingdom    '
    'spacer          spacer         '
    'buttons         buttons        '
  ;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto 1fr auto;
  min-height: 100%;
  max-width: min-content;
  align-items: center;
  gap: 2px;
}

#cardview #preview-imagebox { grid-area: preview-image; }
#cardview #preview-edition-label { grid-area: edition-label; }
#cardview #preview-edition-input { grid-area: edition-input; }
#cardview #preview-number-label { grid-area: number-label; }
#cardview #preview-number-input { grid-area: number-input; }
#cardview #preview-language-label { grid-area: language-label; }
#cardview #preview-language-input { grid-area: language-input; }
#cardview #preview-foil-label { grid-area: foil-label; }
#cardview #preview-foil-input { grid-area: foil-input; }
#cardview #preview-metadata { grid-area: metadata; }
#cardview #preview-button { grid-area: button; }
#cardview #preview-cardmarket { grid-area: cardmarket; }
#cardview #preview-cardkingdom { grid-area: cardkingdom; }
#cardview #preview-spacer { grid-area: spacer; min-height: 0px; }
#cardview #preview-buttons { grid-area: buttons; }

#cardview #preview input[type=text], #preview select {
  width: 180px;
  box-sizing: border-box;
}

#cardview #preview-image { width: 252px; height: 352px; }
#cardview #preview-add-card { width: 100%; box-sizing: border-box; }
#cardview #preview-edition { float: right; text-transform: uppercase; text-align: right; }
#cardview #preview-edition::placeholder { text-transform: none; }
#cardview #preview-number { float: right; text-align: right; }
#cardview #preview-language { float: right; text-align: right; }
#cardview #preview-foil { float: right; }
#cardview #preview-metadata {
  overflow: auto;
  border: 1px var(--border-normal) solid;
  background: var(--window-dark);
  padding: 4px;
  line-height: 20px;
}

#cardview #preview-metadata-mana {
  float: right;
}

#cardview #preview-metadata img {
  height: 16px;
  vertical-align: middle;
  margin: 0px 1px;
}

#cardview #preview-metadata #quote {
  font-style: italic;
  color: var(--font-dark);

  border-top: 1px var(--border-normal) solid;
  padding: 2px 0px;
  margin: 4px 0px;
}

#cardview #preview-metadata #type {
  border-bottom: 1px var(--border-normal) solid;
  padding: 2px 0px;
  margin: 4px 0px;
}

#cardview #preview-metadata div.vspacer {
  height: 8px;
}

#cardview #preview-cardmarket, #preview-cardkingdom {
  overflow: auto;
  border: 1px var(--border-normal) solid;
  padding: 4px;
  line-height: 20px;
}

#cardview #preview-cardmarket #right, #preview-cardkingdom #right {
  float: right;
  line-height: 20px;
}


/* Footer (Bottom Panel) */
#footer {
  grid-area: footer;
  padding: 5px;
}